## Laboratorio 1 - Series de Tiempo
#### Sebastian Juarez - 21471

### Analisis Exploratorio

In [2]:
import pandas as pd

# Cargar el archivo Excel
archivo = 'data/Precios-Promedio-Nacionales-Diarios-2025-1.xlsx'
xls = pd.ExcelFile(archivo)

# Cargar la hoja 'Datos' sin encabezados
df = xls.parse('Datos', header=None, skiprows=6)

# Asignar nombres de columnas
df.columns = ['Fecha', 'Tipo_Cambio', 'Superior', 'Regular', 'Diesel', 'Bunker', 'Gas_Licuado', 'GLP_LB']

# Seleccionar solo variables de inter√©s
df_final = df[['Fecha', 'Superior', 'Regular', 'Diesel', 'Gas_Licuado']].copy()

# Convertir fecha
df_final['Fecha'] = pd.to_datetime(df_final['Fecha'])

# Vista previa
df_final.head()

       Fecha  Superior  Regular  Diesel  Gas_Licuado
0 2021-01-05     21.91    21.11   17.61         99.0
1 2021-01-06     21.91    21.11   17.61         99.0
2 2021-01-07     21.91    21.11   17.61         99.0
3 2021-01-08     21.91    21.11   17.61         99.0
4 2021-01-09     21.91    21.11   17.61         99.0